
a{  
    text-decoration: none; color: #fff; 
  }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {  list-style: none; }
.negrilla {  font-family: 'Raleway', sans-serif; font-weight: 700; }
.nav {  font-family: 'Raleway', sans-serif; }

/* Header */
.logo {  vertical-align: middle; 
  padding-right: 40%; }

.arriba__lista {
  color: hsl(238, 22%, 44%);
  padding-right: 5%;
  font-size: 1.25rem;
}

.arriba__lista:hover { 
   color: hsl(243, 87%, 12%); 
  }
.siteHeader {  
  padding: 5% 0%; 
  display: flex;
  justify-content: space-between;
}

.illustrationContainer {
  background-image: url('../images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-position: center top;
  height: 114px;
  width: 100%;
  margin: 0;
  margin-top: 5%;
  padding: 0;
}

.mainContent__b {
  width: 50%;
  background: hsl(224, 93%, 58%);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2% 7%;
  vertical-align: middle;
  font-size: 1.25rem;
}

.mainContent__b:hover {
  background: hsl(224, 93%, 38%);
}

.mainContent__email {
  width: 40%;
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 4px;
  padding: 3% 7%;
  margin-right: 5%;
  font-size: 1.05rem;
}

.mainContent__img {  width: 100%; }

.mainContent__Link {
  color: hsl(170, 45%, 43%);
  text-decoration: underline;
  font-size: 1.25rem;
}

.mainContent__Link:hover {  color: hsl(170, 45%, 23%); }

.mainContent__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.mainContent__text {  font-size: 1.25rem; margin: 7% 0; }
.mainContent__title {  font-size: 2rem; color: hsl(243, 87%, 12%); }
.sec2 {  background-color: hsl(240, 75%, 98%); padding-top: 0; }
.sec2 .sectionleft {  padding-top: 0; margin-top: 0; }
.sec3 {  background-color: hsl(238, 22%, 44%); color: #fff; }
.sec3 .mainContent__b{  display: inline-block; width: fit-content; }

.sec3 .mainContent__email {
  display: inline-block;
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.sec3 .mainContent__title{  color: #fff; }
.sectionleft {  flex: 1; margin-right: 5%; margin-top: 5%; }
.sectionRight {  flex: 1; }
/*cajita*/
.card {
  width: 80%;
  text-align: left;
  background-color: #fff;
  color: hsl(243, 87%, 12%);
  margin-top: 5%;
  padding: 5%;
  box-shadow: 0 0 15px 2px hsl(0, 0%, 75%);
}

.cardFooter {  
  width: 100%;
 }
.cardFooter__attr {  padding-top: 8%; }

.cardFooter__avatar-testimonial{
  float: left;
  width: 15%;
  border-radius: 50%;
  padding: 5%;
}

/*footer*/

.footer-logo {
    padding: 5% 3% 0;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    padding-left: 5%;
}

.mainFooter {  display: flex; 
  justify-content: space-around;
  padding-bottom: 36px;
  padding-left:0;
 }
.footerNav {  display: grid; }
.footerNav__menu{  padding-bottom: 8%; }

.contentfooter{
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  overflow: hidden;
  
}

.redesSociales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
}

.redesSociales__link {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    display: inline-block;
}

.contacto{
  padding-left: 0%;
}
.contacto__item{
padding:0%
}